<div class="form form__create-url">
  <h2>New URL</h2>
  <form id="create-url" action="/urls" method="POST">
    <input type="text" class="form__input" data-form-input="create-url" name="url" autocomplete="off" placeholder="New URL">
  </form>
  <div class="btn" data-form-button="create-url">Add URL</div>
  <% if (locals.creationError) {%>
    <div class="error__message"><%= locals.creationError[0] %></div>
  <%}%>
</div>
