<% if (locals.usr) { -%>
  <div>Helloooooo <%= usr.name %></div>
  <form action="/logout" method="POST">
    <input type="submit" value="logout">
  </form>
<% } else { -%>
  <div class="login-form">
    <form action="/login" method="POST">
      <input class="login-form__input" data-login="email" type="text" name="email" placeholder="email" autocomplete="off">
      <input class="login-form__input" data-login="password" type="password" name="password" placeholder="password" autocomplete="off">
    </form>
    <div class="btn" data-login="submit">Login</div>
    <a href="/register"><div class="btn">Register</div></a>
  </div>
<% } -%>