<% if (locals.usr) { -%>
  <div class="form">
    <h2><%= usr.name %></h2>
    <form id="logout" data-form="logout" action="/logout" method="POST">
    </form>
    <div class="btn" data-form-button="logout">Logout</div>
  </div>
<% } else { -%>
  <div class="form form__login">
    <h2>Login</h2>
    <form id="login" action="/login" method="POST">
      <input class="form__input" data-form-input="login" type="text" name="email" placeholder="email" autocomplete="off" value="you@you.you">
      <input class="form__input" data-form-input="login" type="password" name="password" placeholder="password" autocomplete="off" value="asdf" >
    </form>
    <div class="btn" data-form-button="login">Login</div>
    <div class="btn"><a href="/register">Register</a></div>
  </div>
  <% if (locals.loginError) {%>
    <div class="error__message"><%= locals.loginError[0] %></div>
  <%}%>
<% } -%>