<% include ./_head %>
<% include ./_logo %>

<h2>Edit URL</h2>
<div class="form form__edit-url">
  <form id="edit-url" method="POST">
    <input class="form__input" data-form-input="edit-url" type="text" name="edit" value="<%= url.longURL %>" autocomplete="off" autofocus>
  </form>
  <div><a class="hover-underline" target="blank" href="<%= url.longURL %>">(test link)</a></div>
  <div class="btn" data-form-button="edit-url">Edit</div>
  <form id="delete-url" action="./delete" method="POST">
  </form>
  <div class="btn" data-form-button="delete-url">Delete</div>
</div>

<% include ./_login %>
<% include ./_footer %>