<%include ./_head%>

<form action="/login" method="POST">
  <label for="email">Email</label>
  <input type="text" name="email" placeholder="you@email.com">
  <label for="password">PassWord</label>
  <input type="password" name="password">
  <input type="submit" value="login">
</form>
<% if (locals.loginErrors) {%>
  <div>ERRRRRROOOORRSSS</div>
<%}%>

<%include ./_footer%>