<%include ./_head%>
<%include ./_logo%>

<form action="/register" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name" placeholder="Kanteen">
  <label for="email">Email</label>
  <input type="text" name="email" placeholder="email@email.com">
  <label for="password">Password</label>
  <input type="password" name="password">
  <input type="submit" value="register">
</form>

<%include ./_footer%>