<% include ./_head %>
<% include ./_logo %>

<section class="urls-list">
  <div>
    <h2>All URLs</h2>
    <ul>
      <% for ( url of shortUrlsList.list ) { -%>
        <li><a href="<%= url %>/editurl"><%=url%></a></li>
      <% } -%>
    </ul>
  </div>
  <% if (shortUrlsList.usrList) { -%>
    <div>
      <h2>Personal URLs</h2>
      <ul>
        <% for ( url of shortUrlsList.usrList ) { -%>
          <li><%= url %></li>
        <% } -%>
      </ul>
    </div>
  <% } -%>
</section>
<% if (locals.usr) { -%>
  <section> <%include ./_create-url%> </section>
<% } -%>

<% include ./_login %>
<%include ./_footer%>

