@font-face {
  font-family: 'Memphis-med';
  src:  url('/fonts/Memphis-Medium.otf') format("opentype")
}

@-webkit-keyframes pulse {
  0% {
    border-bottom-color: #6eb5a1;
  }
  50% {
    border-bottom-color: #eee;
  }
  100% {
    border-bottom-color: #6eb5a1;
  }
}

@keyframes pulse {
  0% {
    border-bottom-color: #6eb5a1;
  }
  50% {
    border-bottom-color: #eee;
  }
  100% {
    border-bottom-color: #6eb5a1;
  }
}

body {
  font-family: Memphis-med;
  color: #eee;
  text-align: center;
  background: #6eb5a1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  padding: 0;
}

li {
  display: block;
}

a {
  text-decoration: none;
  color: #eee;
}

.container {
  margin: 0 auto;
}

@media (max-width: 600px) {

.container {
    width: 100%
}
  }

.login-form__input {
    font-size: 16px;
    font-size: 1rem;
    color: #eee;
    min-width: 100px;
    border-color: transparent;
    display: block;
    margin: 0 auto 1.5em;
    text-align: center;
    caret-color: transparent;
    background: transparent
  }

.login-form__input:focus {
  outline: none;
  border-bottom: 2px solid;
    -webkit-animation: pulse 2s infinite;
            animation: pulse 2s infinite
}

.login-form__input:focus::-webkit-input-placeholder {
  text-align: center;
  opacity: 1;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.login-form ::-webkit-input-placeholder {
    color: #eee;
    text-align: center;
    opacity: .5;
  }

.btn {
  padding: 5px 0;
  width: 5em;
  display: inline-block;
  color: #eee;
  background: transparent;
  border: solid 2px #eee;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
  cursor: pointer
}

.btn:hover {
  background: rgba(255,255,255, 0.2)
}










