@font-face {
  font-family: 'Memphis-med';
  src:  url('/fonts/Memphis-Medium.otf') format("opentype")
}

@-webkit-keyframes pulse {
  0% {
    border-bottom-color: #6eb5a1;
  }
  50% {
    border-bottom-color: #eee;
  }
  100% {
    border-bottom-color: #6eb5a1;
  }
}

@keyframes pulse {
  0% {
    border-bottom-color: #6eb5a1;
  }
  50% {
    border-bottom-color: #eee;
  }
  100% {
    border-bottom-color: #6eb5a1;
  }
}

body {
  font-family: Courier;
  color: #eee;
  text-align: center;
  background: #6eb5a1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  padding: 0;
}

li {
  display: block;
}

a {
  text-decoration: none;
  color: #eee
}

a.hover-underline {
  border-bottom: 2px solid transparent
}

a.hover-underline:hover {
  border-color: #eee;
}

footer {
  font-size: 12.8px;
  font-size: .8rem;
  margin-top: 1em;
}

.border-bottom {
  border-bottom: 2px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.container {
  margin: 0 auto;
  max-width: 400px;
}

@media (max-width: 600px) {

.container {
    width: 100%
}
  }

.header {
  margin-bottom: 2em;
}

.scaled-header {
  word-wrap: break-word;
}

.urls-list {
  border-bottom: 2px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.urls-list__short-url {
    font-weight: 200;
    font-size: .7em;
  }

.urls-list li {
    padding-top: .3em;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
    border-bottom: 1px solid transparent
  }

.urls-list li:hover {
  border-color: rgba(238,238,238, 0.5);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

.urls-list__url {
    margin-top: .5em;
  }

.form {
  border-bottom: 2px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.form__input {
    font-size: 16px;
    font-size: 1rem;
    color: #eee;
    min-width: 100px;
    max-width: 100%;
    border-color: transparent;
    display: block;
    margin: 0 auto 1.5em;
    text-align: center;
    caret-color: transparent;
    background: rgba(255,255,255, .2)
  }

.form__input:focus {
  outline: none;
  border-bottom: 2px solid;
    -webkit-animation: pulse 2s infinite;
            animation: pulse 2s infinite
}

.form__input:focus::-webkit-input-placeholder {
  text-align: center;
  opacity: 1;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.form ::-webkit-input-placeholder {
    color: #eee;
    text-align: center;
    opacity: .5;
  }

.btn {
  font-size: .8em;
  padding: 6px;
  width: 5.5em;
  display: block;
  margin: 14px auto 0;
  color: #eee;
  background: transparent;
  border: solid 2px #eee;
  opacity: 0.6;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
  cursor: pointer;
}

.btn--auto-width {
    width: auto;
    padding-left: .5em;
    padding-right: .5em;
  }

.btn:hover {
  background: rgba(255,255,255, 0.2);
  opacity: 1;
}

.error__message {
    color: red;
    margin-top: 7px;
  }










