@font-face {
  font-family: 'Memphis-med';
  src:  url('/fonts/Memphis-Medium.otf') format("opentype")
}

@import "./normalize.css";

$bg-color: #6eb5a1;
$font-color-main: #eee;

@define-mixin am {
  @media (max-width: 600px) {
    @mixin-content;
  }
}

@define-mixin border-bottom {
  border-bottom: 2px solid $font-color-main;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

@keyframes pulse {
  0% {
    border-bottom-color: $bg-color;
  }
  50% {
    border-bottom-color: $font-color-main;
  }
  100% {
    border-bottom-color: $bg-color;
  }
}


body {
  font-family: Courier;
  color: $font-color-main;
  text-align: center;
  background: $bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  padding: 0;
}

li {
  display: block;
}

a {
  text-decoration: none;
  color: $font-color-main;

  &.hover-underline {
    border-bottom: 2px solid transparent;
    &:hover {
      border-color: $font-color-main;
    }
  }
}

footer {
  font-size: .8rem;
  margin-top: 1em;
}

.border-bottom {
  @mixin border-bottom;
}

.container {
  margin: 0 auto;
  max-width: 400px;

  @mixin am {
    width: 100%;
  }
}

.header {
  margin-bottom: 2em;
}

.scaled-header {
  overflow-wrap: break-word;
}

.urls-list {
  @mixin border-bottom;

  &__short-url {
    font-weight: 200;
    font-size: .7em;
  }

  li {
    padding-top: .3em;
    transition: all .1s ease-out;
    border-bottom: 1px solid transparent;

    &:hover {
      border-color: rgba($font-color-main, 0.5);
      transform: scale(1.1);
    }
  }

  &__url {
    margin-top: .5em;
  }
}

.form {
  @mixin border-bottom;

  &__input {
    font-size: 1rem;
    color: $font-color-main;
    min-width: 120px;
    max-width: 100%;
    border-color: transparent;
    display: block;
    margin: 0 auto 1.5em;
    text-align: center;
    caret-color: transparent;
    background: rgba(#fff, .2);

    &:focus {
      outline: none;
      border-bottom: 2px solid;
      animation: pulse 2s infinite;

      &::-webkit-input-placeholder {
      text-align: center;
      opacity: 1;
      transition: all 1s ease-out;

      }
    }
  }

  ::-webkit-input-placeholder {
    color: $font-color-main;
    text-align: center;
    opacity: .5;
  }
}

.btn {
  font-size: .8em;
  padding: 6px;
  width: 5.5em;
  display: block;
  margin: 14px auto 0;
  color: $font-color-main;
  background: transparent;
  border: solid 2px $font-color-main;
  opacity: 0.6;
  transition: all .15s ease-out;
  cursor: pointer;

  &--auto-width {
    width: auto;
    padding-left: .5em;
    padding-right: .5em;
  }

  &:hover {
    background: rgba(#fff, 0.2);
    opacity: 1;
  }
}

.error {

  &__message {
    color: red;
    margin-top: 7px;
  }
}










